#!/bin/sh
#
# Creates ChEMBL database locally by downloading Chembl postgresql dump and importing it.
# Additionally creates rdkit tables and read-only db user
#
# Usage:
# create_chembldb <chembl_version>
#
# Example:
# create_chembldb {{ chembl_version }}

VERSION=${1:-{{ chembl_version }}}
DB=chembl_${VERSION}
TAR=chembl_${VERSION}_postgresql.tar.gz

cd /tmp
echo "Downloading chembl $VERSION dump"
wget -nc ftp://ftp.ebi.ac.uk/pub/databases/chembl/ChEMBLdb/latest/$TAR

sudo -u postgres createdb $DB
echo "Importing dump into $DB database"
tar -zxf $TAR chembl_${VERSION}_postgresql/chembl_${VERSION}.pgdump.sql -O | sudo -u postgres psql $DB
rm $TAR

echo "Creating rdkit tables"
cat /opt/chembl/rdkit.sql | sudo -u postgres psql $DB
echo "Creating read-only user chembl:chembl"
cat /opt/chembl/user.sql | sudo -u postgres psql $DB
