[Desktop Entry]
Name=Knime
Comment=Knime Analytics Platform
Exec=/usr/bin/knime %F
Icon=/opt/knime/knime-full_{{ knime_version }}/icon.xpm
Type=Application
StartupNotify=true
Categories=Education;Science;Chemistry;
MimeType=text/plain;
X-Desktop-File-Install-Version=0.22
