[Desktop Entry]
Name=3D-e-chem Documentation
Comment=3D-e-chem documentation
Exec=/usr/bin/firefox http://localhost:{{ wiki_port }}/
Icon=firefox
Type=Application
StartupNotify=true
Categories=Education;Science;Chemistry;
MimeType=text/plain;
X-Desktop-File-Install-Version=0.22
