[Desktop Entry]
Name=Documentation
Comment=Chemical Analytics Platform documentation
Exec=/usr/bin/firefox http://localhost:{{ wiki_port }}/Welcome
Icon=firefox
Type=Application
StartupNotify=true
Categories=Education;Science;Chemistry;
MimeType=text/plain;
X-Desktop-File-Install-Version=0.22
